[Unit]
Description=Phosphor SPDM Daemon
Wants=mctp-ctrl.service
After=mctp-ctrl.service
Wants=pldmd.service
After=pldmd.service

[Service]
Restart=always
Type=dbus
BusName=xyz.openbmc_project.SPDM
ExecStart=/usr/bin/spdmd

[Install]
WantedBy=multi-user.target
