[Unit]
Description=Phosphor SPDM Daemon
Wants=pldmd.service
After=pldmd.service

[Service]
Restart=always
Type=dbus
WatchdogSec=10s
BusName=xyz.openbmc_project.SPDM
ExecStart=/usr/bin/spdmd

[Install]
WantedBy=multi-user.target
